body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(11, 28, 47);
    font-family: Arial, Helvetica, sans-serif;
}

.calendar{
    position: relative;
    background: gray;
    width: 800px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 15px solid gray;
    box-shadow: black;
}

.calendar .date{
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}

.calendar .date h3{
    margin: 0 0 20px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.calendar .date .days{
    display: flex;
    flex-wrap: wrap;
}

.calendar .date .days .day,
.calendar .date .days .number{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar .date .days .day:first-child:first-child,
.calendar .date .days .number:nth-child(7n+1){
    color: white;
    font-weight: 600;
}

.calendar .date .days .number.active{
    background: white;
    color:black;
    cursor: pointer;
    border-radius: 50%;
}

.calendar .image{
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background: rgb(11, 28, 47);
}

.calendar .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}